@font-face {
  font-family: "googlesans";
  src: url("./assets/fonts/font/GoogleSans-Regular.woff2");
}

:root {
  --ff-google: "googlesans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-google);
  list-style-type: none;
}

* {
  font-family: var(--ff-google) !important;
}

a {
  text-decoration: none;
}
